# Course: ITI1120 - F Fall 2022
 
# LAB 8 - Exercises

# Exercise 0

In [ ]:
# programming exercise  0
import random
def make_matrix_random(a, b, x, y):
     '''(int,int,int,int)->2D list
     Returns a 2D list representing a matrix with a rows and b columns
     filled with random integers >=x and <=y
     Precondition: a,b positive and x <=y
     '''

In [ ]:
print(make_matrix_random(3, 5, 0, 10))  # the function should have randomness, thus no expecting result
print(make_matrix_random(2, 4, 10, 20)) # the function should have randomness, thus no expecting result
print(make_matrix_random(5, 3, 0, 10))  # the function should have randomness, thus no expecting result

[[6, 2, 0, 6, 1], [6, 8, 2, 5, 8], [0, 6, 3, 2, 3]]
[[11, 11, 16, 11], [15, 11, 16, 11]]
[[7, 3, 6], [5, 8, 2], [6, 8, 6], [4, 3, 1], [10, 7, 9]]

# Exercise 1

In [ ]:
# programming exercise  1
def sum_above_diagonal(m):
     '''(2D list)->number
     Returns the sum of the elements of the matarix m that are on or about the diagonal of m
     (for clarification see the slide entitled: Details about Prog Ex 2)
     Precondition: m is a square matrix filled with numbers
     
     >>> sum_above_diagonal([[1,2],[10,20]] )
     23
     '''

In [ ]:
print(sum_above_diagonal([[6, 2, 0, 6, 1], [6, 8, 2, 5, 8], [0, 6, 3, 2, 3]])) #Excepting 46
print(sum_above_diagonal([[11, 11, 16, 11], [15, 11, 16, 11]])) #Excepting 87
print(sum_above_diagonal([[7, 3, 6], [5, 8, 2], [6, 8, 6], [4, 3, 1], [10, 7, 9]])) #Excepting 32
print(sum_above_diagonal([[1,2],[10,20]])) #Excepting 23

46
87
32

# Exercise 2

In [ ]:
# programming exercise  2
def max_over_all_even_cols(m):
     '''(2D list)->number
     Returns the maximum element among all the numbers that are in even columns of m
     i.e the maximum element amoung all elements in 0th, 2th, 4th etc. column
     Precondition: m is a matrix filled with numbers with at least 1 row and 1 column
     
     >>> max_over_all_even_cols([[1,1,1,1,1,1,1],[1,10,3,20,12,6,0]])
     12
     '''

In [ ]:
print(max_over_all_even_cols([[1,1,1,1,1,1,1],[1,10,3,20,12,6,0]])) # Expecting 12
print(max_over_all_even_cols([[1,2,1,2,1,2,1],[1,10,20,2,12,6,0]])) # Expecting 20

12
20

# Exercise 3

In [ ]:
#programming exercise 3
def max_each_row(m):
     '''(2D list)->list
     Returns a list where in position p of the list is the max number among all the numebrs of p-th row of m
     Precondition: m is a matrix filled with numbers

     >>> max_each_row([[1,2],[200,0],[3,3],[-10,-20]])
     [2, 200, 3, -10]
     '''

In [ ]:
print(max_each_row([[1,2],[200,0],[3,3],[-10,-20]])) # Expecting [2, 200, 3, -10]
print(max_each_row([[100,2],[-200,0],[3,6],[-10,-20]])) # Expecting [100, 0, 6, -10]
print(max_each_row([[1,2, 3],[10,20,56, 78],[3,2],[-20]])) # Expecting [3, 78, 3, -20]

[2, 200, 3, -10]
[100, 0, 6, -10]
[3, 78, 3, -20]

# Exercise 4

In [ ]:
# programming exercise  4
def index_of_max_sum_row(m):
     '''(2D list)->int
     Returns the index of a row that has the largest sum of all the rows
     Precondition: m is a matrix filled with numbers
     >>> index_of_max_sum_row([[100,100], [-100,0], [200,30], [1,2]])
     2
     >>> index_of_max_sum_row([[100,100], [-100,0], [200,30], [10000,2]])
     3
     '''

In [ ]:
print(index_of_max_sum_row([[100,100], [-100,0], [200,30], [1,2]])) # Expecting 2
print(index_of_max_sum_row([[100,100], [-100,0], [200,30], [10000,2]])) # Expecting 3

2
3

#Exercise 5

In [ ]:
def magic(m):
     '''2D list->bool
     Returns True if m forms a magic square
     Precondition: m is a matrix with at least 2 rows and 2 columns '''

In [ ]:
# main
# TESTING OF magic functions
# this should print True

m0=[[2,7, 6],[9,5,1],[4,3,8]]
print(magic(m0))
    
# this should print True
m1 = [[16,3,2,13], [5,10,11,8],[9,6,7,12], [4,15,14,1]]
print(magic(m1))
    
# this should print False. Why? Which condition imposed on magic squares is not true for m3
m2 = [[1,2,3,4], [5,6,7,8],[9,10,11,12], [13,14,15,16]]
print(magic(m2))
    
#this should print False. Why? Which condition imposed on magic squares is not true for m3
m3 =  [[1,1],[1,1]]
print(magic(m3))

# #this should print False. Why? Which condition imposed on magic squares is not 
m3 =  [[1,1],[1,1],[1,2]]
print(magic(m3))

True
True
False
False
False

# Exercise 6

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
def create_books_2Dlist(file_name):
    '''None->2D list'''

Enter the name of the file: NYT_short.txt
[['1976-04-11', '1876', 'Gore Vidal', 'Random House', 'Fiction'], ['2011-11-27', '23337', 'Stephen King', 'Scribner', 'Fiction'], ['1984-07-08', '...and Ladies of the Club', 'Helen Hooven Santmeyer', 'Putnam', 'Fiction'], ['2001-03-25', '1st to Die', 'James Patterson', 'Little, Brown', 'Fiction'], ['2002-03-24', '2nd Chance', 'James Patterson', 'Little, Brown', 'Fiction'], ['2004-03-21', '3rd Degree', 'James Patterson', 'Little, Brown', 'Fiction'], ['2005-05-22', '4th of July', 'James Patterson', 'Little, Brown', 'Fiction'], ['2010-06-06', '61 Hours', 'Lee Child', 'Delacorte', 'Fiction'], ['2005-10-16', 'A Breath of Snow and Ashes', 'Diana Gabaldon', 'Delacorte', 'Fiction'], ['2001-04-29', 'A Common Life', 'Jan Karon', 'Viking', 'Fiction'], ['2011-07-31', 'A Dance With Dragons', 'George R. R. Martin', 'Bantam', 'Fiction'], ['2001-02-04', 'A Day Late and a Dollar Short', 'Terry McMillan', 'Viking', 'Fiction'], ['2005-11-27', 'A Feast For Crows', 'George R. R. Martin', 'Bantam', 'Fiction'], ['1945-07-01', 'A Lion Is In the Streets', 'Adria Locke Langley', 'McGraw', 'Fiction'], ['1998-11-22', 'A Man In Full', 'Tom Wolfe', 'Farrar, Straus & Giroux', 'Fiction'], ['2001-02-25', 'A Painted House', 'John Grisham', 'Doubleday', 'Fiction']]

In [ ]:
books=create_books_2Dlist('NYT_short.txt')
print(books)

[['1976-04-11', '1876', 'Gore Vidal', 'Random House', 'Fiction'], ['2011-11-27', '23337', 'Stephen King', 'Scribner', 'Fiction'], ['1984-07-08', '...and Ladies of the Club', 'Helen Hooven Santmeyer', 'Putnam', 'Fiction'], ['2001-03-25', '1st to Die', 'James Patterson', 'Little, Brown', 'Fiction'], ['2002-03-24', '2nd Chance', 'James Patterson', 'Little, Brown', 'Fiction'], ['2004-03-21', '3rd Degree', 'James Patterson', 'Little, Brown', 'Fiction'], ['2005-05-22', '4th of July', 'James Patterson', 'Little, Brown', 'Fiction'], ['2010-06-06', '61 Hours', 'Lee Child', 'Delacorte', 'Fiction'], ['2005-10-16', 'A Breath of Snow and Ashes', 'Diana Gabaldon', 'Delacorte', 'Fiction'], ['2001-04-29', 'A Common Life', 'Jan Karon', 'Viking', 'Fiction'], ['2011-07-31', 'A Dance With Dragons', 'George R. R. Martin', 'Bantam', 'Fiction'], ['2001-02-04', 'A Day Late and a Dollar Short', 'Terry McMillan', 'Viking', 'Fiction'], ['2005-11-27', 'A Feast For Crows', 'George R. R. Martin', 'Bantam', 'Fiction'], ['1945-07-01', 'A Lion Is In the Streets', 'Adria Locke Langley', 'McGraw', 'Fiction'], ['1998-11-22', 'A Man In Full', 'Tom Wolfe', 'Farrar, Straus & Giroux', 'Fiction'], ['2001-02-25', 'A Painted House', 'John Grisham', 'Doubleday', 'Fiction']]

In [ ]:
def search_by_year(books, year1, year2):
    '''(2D list)->None'''

In [ ]:
print(search_by_year(books, 2005, 2005))
print(search_by_year(books, 1945, 1999))
print(search_by_year(books, 2016, 2017))

All Titles between 2005 and 2005:

4th of July, by James Patterson (2005-05-22)
A Breath of Snow and Ashes, by Diana Gabaldon (2005-10-16)
A Feast For Crows, by George R. R. Martin (2005-11-27)
None

All Titles between 1945 and 1999:

1876, by Gore Vidal (1976-04-11)
...and Ladies of the Club, by Helen Hooven Santmeyer (1984-07-08)
A Lion Is In the Streets, by Adria Locke Langley (1945-07-01)
A Man In Full, by Tom Wolfe (1998-11-22)
None

All Titles between 2016 and 2017:

No books found in that range of years.
None